---
title: Scientists - Groves Lab
layout: default.hbs
---

<head>

    <style>
        div.student {
            width: 250px;
            height: 210px;
            float: left;
        }

        div.clear {
            clear: both;
        }
        div.section {
            margin-bottom: 60px;
        }
    </style>


</head>

<div class='section' id='professor'>
<h3>Professor</h3>
<table border="0" width="640">
    <tbody>
    <tr>
        <td width="180"><img src="scientists/Jay.jpg" width="152" height="156" border="0"></td>
        <td width="478">
            <div>Jay T Groves</div>
            <div style='margin-top: 15px;'>
                Professor of Chemistry<br>
                HHMI Investigator<br>
                Office: 408A Stanley Hall<br>
                Phone:(510)666-3602<br>
                e-mail: jtgroves <i><font size="2">AT</font></i> lbl <i><font size="2">DOT</font></i>
                gov&nbsp;&nbsp;<br>
                <a href="./CV_Jay%20Groves.pdf">CV</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div class='section' id='postdoc'>
    <h3>Postdocs</h3>
    {{#each postdocs}}
        <div class="student">
            <a href="./scientists/{{name}}.html">
                <img class="pic" src="scientists/{{name}}.jpg">
            </a>

            <p><a href="./scientists/{{name}}.html">{{fullname}}</a></p>
        </div>
    {{/each}}
    <div class="clear"></div>
</div> <!-- #postdoc -->


<div class='section' id='grad'>
    <h3>Graduate Students</h3>
    {{#each students}}
        <div class="student">
            <a href="./scientists/{{name}}.html">
                <img class="pic" src="scientists/{{name}}.jpg">
            </a>

            <p><a href="./scientists/{{name}}.html">{{fullname}}</a></p>
        </div>
    {{/each}}
    <div class="clear"></div>
</div> <!-- #grad -->

<div class='section' id='undergrad'>
    <h3>Undergraduate Students</h3>
    <table width="750" bordercolordark="#333333" bordercolorlight="#333333" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td class="student">
                <a href="./scientists/Cody.html">
                    <img class="pic" src="scientists/andy.jpg">
                </a>

                <p><a href="./scientists/Cody.html">Cody Holik</a></p>
            </td>
            <td style='width: 250px;'></td>

        </tr>
        </tbody>
    </table>

</div> <!-- undergrad -->

<div class='section' id='affiliate'>
    <h3>Research Affiliates</h3>
    <table cellpadding="0" cellspacing="0" width="750" bordercolordark="#333333" bordercolorlight="#333333">
        <tbody>
        <tr>
            <td class="student"><a href="./scientists/Kabir.html"><img src="scientists/Kabir.jpg" width="186"
                                                                       height="140" border="0"></a>

                <p><a href="./scientists/Kabir.html">Kabir Hassan Biswas</a></p>
            </td>
            <td class="student"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- #affiliate -->

<div class='section' id='alumni'>
    <h3>Alumni</h3>
    <ul>
        {{#each alumni}}
            <li>{{name}}
                {{#if postdoc}}
                    (Postdoc)
                {{/if}}
                {{#if website}}
                    <span class="website">| <a href="{{website}}">Lab Webpage</a></span>
                {{/if}}
                {{{note}}}
            </li>
        {{/each}}
    </ul>
</div> <!-- #alumni -->

<div class='section' id='alumni-undergrad'>
    <h3>Undergraduate Alumni</h3>
    <ul>
        {{#each alumni_undergrad}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</div>